# 所有的一般可执行文件
*.exe

# KeilIDE编辑器忽略项
**/MDK-ARM/*

# 不忽略Keil工程配置文件
!**/MDK-ARM/*.uvoptx
!**/MDK-ARM/*.uvprojx
!**/MDK-ARM/startup_*.s

# armgcc-cmake工程忽略项
**/cmake-build-debug/*

# VsCode编辑器忽略项
**/.vscode/*
**/workspace.code-workspace


#vscode_eide自动配置
# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template


# Clion编辑器忽略项
**/.idea/*